* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
nav {
  width: 85%;
  max-width: 1374px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}
nav .logo img {
  width: 139px;
  margin: 16px;
}
nav .first-button button {
  width: 164px;
  background-color: #1c944e;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}
nav .menu {
  display: flex;
  gap: 32px;
  list-style: none;
}
nav .menu a {
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
  color: black;
}

#banner {
  padding: 115px 120px 180px 120px;
  background: url("../assets/hero-bg.png");
  text-align: center;
  max-width: 1600px;
}
#banner .banner-content {
  width: 836px;
  height: 380px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border: 1px solid red;
}
#banner .banner-content .early-access {
  font-size: 16px;
  background-color: white;
  width: 229px;
  height: 35px;
  margin: auto;
  color: #469165;
  border-radius: 20px;
  padding: 5px; 
}
#banner .banner-content h1 {
  color: white;
  font-size: 60px;
  margin: 0 auto;
  line-height: 70px;
}
#banner .banner-content .not {
  color: #30b868;
}
#banner .banner-content .private {
  font-size: 18px;
  line-height: 40px;
  color: white;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
}
#banner .banner-content .button ul  {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
  
}
#banner .banner-content .button{
  
}
#banner .banner-content .button li{
  
  list-style-type: none;
  margin-top: 45px;
 
}
#banner .banner-content .button a{
  text-decoration: none;
  gap: 40px;
 
}
#banner .banner-content .button .first-button{
  background-color:#30b868 ;
  padding: 16px 46px 16px 16px;
  justify-content:center;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight:400;
  

}
#banner .banner-content .button .second-button{
  color: white;
  border: 1px solid white;
  padding: 16px 16px 16px 46px;
  border-radius: 5px;
}